extends ./layout/app
block container
    div(class="py-5")
        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10")= page
            if properties.length
                div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
                    each id1 in properties 
                        include ./templates/card
            else
                p(class="text-center text-green-800 text-sm py-10") No hay resultados