extends ../layout/index

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)
block container
    .py-10
        h2.text-center.text-2xl.font-extrabold=page
        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form(id="image" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/properties/add-image/${property.id}`)
                input(type="hidden" name="_csrf" value=  csrfToken)
            div(class="flex space-x-3")
                button(id="publish" type="button" class="mt-5 p-7 py-3 w-full bg-indigo-600  hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer " ) Publicar propiedad

block  scripts
    script(src="/js/addImage.js")